# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Clion\0-1 package\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
